doctype html
html
    head
        meta(charset="utf-8")
        title 详情
        link(rel="stylesheet" herf="./stylesheets/detail.css")
    body
        div#container
            div#wrapper
                h2 用户详情
                div.info
                    div 用户名
                    div #{name}
                div.info
                    div 学号
                    div #{id}
                div.info
                    div 电话
                    div #{phone}
                div.info
                    div 邮箱
                    div #{mail}