doctype html
html
    head
        meta(charset="utf-8")
        title 详情
        link(rel="stylesheet" href="./stylesheets/signin.css")
        link(rel="stylesheet" href="./stylesheets/detail.css")
    body
        div#container
            div#wrapper
                h2 用户详情
                - if (error)
                    p 只能够访问自己的数据
                div.info
                    div 用户名
                    div #{user.name}
                div.info
                    div 学号
                    div #{user.id}
                div.info
                    div 电话
                    div #{user.phone}
                div.info
                    div 邮箱
                    div #{user.mail}
                a.button(href="/api/logout") 登出