body {
    background-image: url("../img/workplace-impact.jpg");
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    font-size: 15pt;
}

h1, h2 {
    color: white;
    text-align: center;
    font-weight: normal;
    text-shadow: black 0 0 5px;
}

#container {
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrapper {
    width: 400px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.info {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px;
    text-shadow: white 0 0 10px;
}

.info div {
    display: inline-block;
}

.info div:first-child {
    width: 30%;
}

.info div:nth-child(2) {
    width: 60%;
}