body {
    background-image: url(../img/White-Wallpaper-2-2.jpg);
}

body > .grid {
    height: 100%;
}

.column {
    max-width: 550px;
}

.input:-webkit-autofill {
    background-color: transparent;
}