body {
    background-image: url(../img/White-Wallpaper-2-2.jpg);
}

.right.floated.button::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}